

table {
    width: 80%;
  }

.table-sr{
    cursor: pointer;
}

.mat-elevation-z8{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
}

.component-heading{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 16px;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.heading-action{
  text-decoration: none;
  color: beige;
}

.action-column{
  width: 160px;
}

.action-button{
  margin-left: 8px;
}